body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: darkblue;
    padding: 20px;
    border-radius: 50px;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#iniciarParar {
    background-color: #4CAF50;
    color: black;
}

#reiniciar {
    background-color: #f44336;
    color: black;
}
