body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color:red;
    padding: 20px;
    border-radius: 15px;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startStop {
    background-color: #4CAF50;
    color: black;
}

#reset {
    background-color: #f44336;
    color: black;
}
